
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(1, 1, 60), black);
}







/* navbar */
.nav_item {
    color: white;
}
.nav-link{
    color: white;
}




/* for intro */
.container {
    display: flex;
    width: 100%;
}
.text {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;
    color: white;
}
.text-p{
    color: rgb(199, 199, 199) ;
}

.image {
   
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    
}



.foot{
    bottom: 0;
    width: 100%;
    background-color:rgb(1, 1, 21);
    box-shadow: 0 0 1pc rgb(13, 38, 131);
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 40px;
}

.contact-name{
    background-color: rgb(176, 55, 209);
   font-size: 11px;
   padding: 2px;
   border-radius: 3px;
}

.contect-item{
    margin: 2px;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    padding: 2px;
}

.contact-in{
    font-size: 11px;
    border-radius: 3px;
}





